appnope
asttokens
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
easyocr
executing
filelock
fonttools
fsspec
idna
imageio
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
lazy_loader
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
ninja
numpy
opencv-python
opencv-python-headless
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
py-cpuinfo
pyclipper
Pygments
pyparsing
python-bidi
python-dateutil
pytz
PyYAML
pyzmq
requests
scikit-image
scipy
shapely
six
stack-data
sympy
tifffile
torch
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
wcwidth
